* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.page {
    padding-top: 92px;
}

.block-center {
    display: block;
    width: fit-content;
    margin: auto;
}

.btn-plain {
    padding: 8px 16px;
    border-radius: 50px;
    color: white;
    background-color: #f16c7a;
    border: 1px solid #f16c7a;
}

.btn-plain:hover {
    background-color: #f16c7a;
    border: 1px solid #f16c7a;
}

.btn-outline {
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #86786e;
    color: #86786e;
    background-color: transparent;
}

.btn-outline:hover {
    border: 1px solid #86786e;
    color: white;
    background-color: #86786e;
}

.btn-plain.brown {
    background-color: #86786e;
    border: 1px solid #86786e;
}

.no-underline {
    text-decoration: none;
}

.fit-content {
    width: fit-content;
}