#admin-recipes {
    padding-left: 239px;
}

.card-body {
    position: relative;
}

.link {
    color: #262a2e;
}

.icons {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.icons a {
    color: #86786e;
}

.icons a:hover {
    color: #6b5e53;
}

.img-container {
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 70%;
}